@font-face {
    font-family: "Artifakt-main";
    src: url(/agile-personalization-widget/fonts/Artifakt-Element-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Artifakt-heavy";
    src: url(/agile-personalization-widget/fonts/Artifakt-Element-Heavy.ttf) format("truetype");
}
@font-face {
    font-family: "Artifakt-light";
    src: url(/agile-personalization-widget/fonts/Artifakt-Element-Light.ttf) format("truetype");
}
body {
    font-family: "Artifakt-main";
    background-color: white;
    font-size: 1.8vw;
    margin-left: 0.625em;
    text-align: center;
    background-image: url(/agile-personalization-widget/imgs/radial-pattern-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
}


h3 {
    margin: 0.25vw;
}
code {
    color: #0571A1;
}

#logo-holder * {
    font-family: "Artifakt-light";
    vertical-align: middle;
}
#logo-holder b {
    font-size: 2.5vw;
    color: #666666;
}
#logo-holder i {
    font-size: 2.0vw;
    color: #BB7A14;
}
#demo-logo {
    width: 3.0vw;
}
    body p {
        color: gray;
        margin: auto;
        font-size: 1.0vw;
        width: 90%;
        max-width: 50vw;
    }

#menu {
    text-align: center;
    font-size: 110%;
    width: 90%;
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    vertical-align: middle;
    padding: 0.2vw;
    border-bottom: 1px solid DarkGray;
    border-top: 1px solid DarkGray;
    background: GhostWhite;
    margin-bottom: 0.2vw;
}
.menu-link {
    display: inline-block;
    margin: 0.3vw;
    font-size: 70%;
    position: relative;
    display: inline-block;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    margin-right: 0.6vw;
    margin-left: 0.6vw;
    vertical-align: middle;
    color: gray;
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
.active-section {
    background-color: #0571A1;
    color: white;
}

.menu-link:hover:not(.active-section) {
    color: white;
    background-color: #38ABDF;
    border-radius: 5px;
}


input {
    font-size: 120%;
    border-radius: 3px;
    margin-top: 1px;
    padding: 0.4vw;
}

.hidden {
    display: none;
}


.demo-buttons {
    display: block;
    width: 60%;
    margin: auto;
}


.demo-section, .palette-section {
    display: flex; /* equal height of the children */
    margin-left: auto;
    margin-right: auto;
}
.demo-section {
    width: 80%;
    min-width: 60vw;
}
    
    [data-abm-demo] {
        font-family: "Artifakt-main";
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
        padding: 0.565em 1em .5em 1em;
        line-height: auto;
        vertical-align: middle;
        color: white;
        background-color: #0696D7;
        font-size: 75%;
        border-width: 0 0.1vw 0.1vw 0;
        border-style: solid; 
        border-color: #CCCCCC;
    }

        [data-abm-demo]:hover {
            background-color: #0470A1;
        }

        .custom-json-demo [data-abm-demo] {
            background-color: #268D82;
            font-size: 100%;
        }
        .custom-json-demo [data-abm-demo]:hover {
            background-color: #195E57;
        }

    /*
    #abm-demo-examples a {
        text-decoration: none;
        font-family: "Artifakt-main";
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
        padding: 0.565em 1em .5em 1em;
        line-height: auto;
        vertical-align: middle;
        color: white;
        background-color: #666666;
        font-size: 60%;
    }

        #abm-demo-examples a:hover {
            background-color: #444444;
        }
    */

    #wafer-demo-examples a {
        text-decoration: none;
        font-family: "Artifakt-main";
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
        padding: 0.565em 1em .5em 1em;
        line-height: auto;
        vertical-align: middle;
        color: white;
        background-color: #32BCAD;
        font-size: 60%;
        border-width: 0 0.1vw 0.1vw 0;
        border-style: solid; 
        border-color: #CCCCCC;
    }

        #wafer-demo-examples a:hover {
            background-color: #258D82;
        }

    .palettes-holder {
        width: 88%;
        padding: 0.6vw;
        max-width: 70vw;
        max-height: 40vw;
        overflow: auto;
        margin-left:auto;
        margin-right:auto;
        border: 2px solid #CCCCCC;
        box-shadow: 4px 4px 4px #999999;
        border-radius: 2px;
        background-color: #FFFFFF;
    }

    .custom-json-demo {
        margin-top: 0.25vw;
        font-size: 65%;
        color: DarkGrey;
    }
    .abm-demo-ui {
        flex: 3; /* additionally, equal width */
        padding-right: 1.1em;
    }
    .abm-demo-info {
        flex: 2; /* additionally, equal width */
        
    }
    .demo-guide, .demo-info-holder {
        font-family: "Artifakt-main";
        opacity: 0.8;
        display: flex;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left:auto;
        margin-right:auto;
        border: 1px solid #CCCCCC;
        box-shadow: 2px 2px 2px #999999;
        border-radius: 2px;
        background-color: #F2F2F2;
        color: black;
    }
    .demo-info-holder {
        width: 80%;
        max-width: 45vw;
    }
    .demo-guide {
        width: 100%;
    }
    .demo-guide p {
        text-align: left;
    }

    .palette-example {
        flex: 1;
        padding-left: 0.1vw;
        padding-right: 0.1vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25vw;
    }

        .palette-example p {
            margin-top: 0.4vw;
            margin-bottom: 0.4vw;
            font-size: 50%;
            color: black;
        }

    .palette-img {
        width: 100%;
        max-width: 18vw;
    }
    .custom-alias {
        margin-top: 0.4vw;
    }

    #custom-alias-input {
        text-align: center;
        padding: 0.3vw;
        width: 50%;
        font-family: Consolas, monaco, monospace;
        font-style: normal;
        font-variant: normal;
        color: #5BC9BD;
        border: 2px solid #4D4D4D;
        box-shadow: 4px 4px 4px #999999;
        border-radius: 2px;
        background-color: #171717;
        margin-bottom: 0.6vw;
    }

    #custom-json-input {
        padding: 8px;
        font-family: Consolas, monaco, monospace;
        font-style: normal;
        font-variant: normal;
        width: 98%;
        font-size: 90%;
        height: 30vw;
        color: #5BC9BD;
        margin-top: 0.4vw;
        border: 2px solid #4D4D4D;
        box-shadow: 4px 4px 4px #999999;
        border-radius: 2px;
        background-color: #171717;
    }

    #custom-error {
        margin-top: 0.4vw;
        background-color: #F1A7A7;
        border-radius: 3px;
        padding: 0.5vw;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: #A61A1A;
        font-size: 100%;
        overflow: auto;
    }


.hidden {
    display: none
}

#widget-gif {
    margin-top: 0.8vw;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
    #widget-gif img {
        width: 50%;
        border: 1px solid #CCCCCC;
        box-shadow: 2px 2px 2px #999999;
        border-radius: 2px;
    }

#wafer-settings-link {
    font-size: 120%;
    color: #195E57;
    cursor: pointer;
}
#wafer-info-img {
    width: 50%;
    margin-top: 0.5vw;
}